<script setup lang="ts">
import { computed, ref } from 'vue'
import { VBtn, VContainer, VCol, VRow, VSelect, VTextField } from 'vuetify/components'

import { useTodoListStore } from '@/stores/todoList'

import TodoActionPair from '@/components/TodoActionPair.vue'
import CompletionStatusToggleSwitch from '@/components/CompletionStatusToggleSwitch.vue'

const todoListStore = useTodoListStore()
const filters = ['All', 'Incomplete', 'Completed']

const inputTodo = ref('')
const filter = ref('All')
const filteredTodos = computed(() => {
  switch (filter.value) {
    case filters[0]:
      return todoListStore.todoList
    case filters[1]:
      return todoListStore.incompleteTodos
    case filters[2]:
      return todoListStore.completedTodos
    default:
      return todoListStore.todoList
  }
})

function validateInputTodo(): boolean {
  return inputTodo.value.trim().length > 0
}

function createTodo() {
  todoListStore.createTodo(inputTodo.value)
}

function tryCreateTodo() {
  validateInputTodo() ? createTodo() : alert('Todo cannot be empty')
  inputTodo.value = ''
}
</script>

<template>
  <v-container>
    <v-row align="center">
      <v-col>
        <v-text-field
          id="todoInput"
          label="Add to-do"
          placeholder="What needs to be done?"
          v-model="inputTodo"
          required
        />
      </v-col>
      <v-col cols="1">
        <v-btn id="createTodo" @click="tryCreateTodo">+</v-btn>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="2">
        <v-select label="Filter" v-model="filter" :items="filters"></v-select>
      </v-col>
    </v-row>
  </v-container>
  <div
    v-if="Object.keys(filteredTodos).length === 0"
    style="display: flex; justify-content: space-evenly"
  >
    <p><em>Nothing to show as of yet</em></p>
  </div>
  <div v-else>
    <TodoActionPair
      v-for="[id, { title }] in Object.entries(filteredTodos)"
      :key="id"
      :todo="title"
    >
      <CompletionStatusToggleSwitch :todo-id="parseInt(id)" />
    </TodoActionPair>
  </div>
</template>

<style scoped></style>
