<script setup lang="ts">
import { VBtn } from 'vuetify/components'
import { useTodoListStore } from '@/stores/todoList'

import TodoActionPair from '@/components/TodoActionPair.vue'

const todoListStore = useTodoListStore()
const todoList = todoListStore.todoList
</script>

<template>
  <div
    v-if="Object.keys(todoList).length === 0"
    style="display: flex; justify-content: space-evenly"
  >
    <p><em>Nothing to show as of yet</em></p>
  </div>
  <div v-else>
    <TodoActionPair v-for="[id, { title }] in Object.entries(todoList)" :key="id" :todo="title">
      <v-btn @click="todoListStore.removeTodo(parseInt(id))">Delete</v-btn>
    </TodoActionPair>
  </div>
</template>

<style scoped></style>
