<script setup lang="ts">
import { VSwitch } from 'vuetify/components'
import { useTodoListStore } from '@/stores/todoList'

const todoListStore = useTodoListStore()
const props = defineProps({
  todoId: Number
})

function getCompletionStatus(): 'Completed' | 'Incomplete' {
  return todoListStore.getCompletionStatus(props.todoId!) ? 'Completed' : 'Incomplete'
}
</script>

<template>
  <v-switch
    v-model="todoListStore.todoList[todoId!].completed"
    :label="getCompletionStatus()"
  ></v-switch>
</template>

<style scoped></style>
