<script setup lang="ts">
import { VContainer, VCol, VRow } from 'vuetify/components'

const props = defineProps({
  todo: String
})
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <p class="text-h4">{{ props.todo! }}</p>
      </v-col>
      <v-col cols="2">
        <slot></slot>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
