<script setup lang="ts">
import { RouterView } from 'vue-router'
import { VBtn, VContainer, VRow } from 'vuetify/components'
</script>

<template>
  <header>
    <nav>
      <v-container>
        <v-row justify="center">
          <v-btn to="/" variant="text" class="margin">Create</v-btn>
          <v-btn to="/delete" variant="text" class="margin">Delete</v-btn>
        </v-row>
      </v-container>
    </nav>
  </header>

  <main>
    <RouterView />
  </main>
</template>

<style scoped></style>
